<h1>Activity: Use Python Syntax</h1>

## Introduction

In this lab, you will practice Python syntax by creating variables, checking the data types of variables, creating precise variable names, and completing data conversions.

For this activity, imagine you're a data professional analyzing the users that log in to purchase tickets at a movie theater. You'll save the theater's unique identification code to a variable, study the number of tickets sold, and the data types you'll be working with.

Throughout this lab, you will practice assigning variables, viewing the values saved to the variables, and checking their data types.

## Task 1: Assign the theater ID to a variable

In your work as an analyst, imagine you are considering sales at a specific theater and you want to save the theater's unique identification, which is `"b79cn10k"`, to a variable. By doing this, you'll be able to access the ID easily if you need it later. In the following code cell:

1. Assign the theater's unique identification to a variable named `theater_id`.

2. Display the contents of the `theater_id` variable.

Be sure to replace each `### YOUR CODE HERE ###` with your own code before you run the following cell.

In [1]:

theater_id = "b79cn10k"


theater_id

'b79cn10k'

## Task 2: Create a ticket type variable

As you continue your work, you're provided a list of the different types of tickets sold by the theater: `"Senior"`, `"Adult"`, and `"Youth"`. In this task, focus on the `"Adult"` ticket type.

1.  Create a variable called `ticket_type` and assign it a value of `"Adult"`.
2.  Display the contents of the `ticket_type` variable.

In [2]:


ticket_type = ['Senior','Adult','Youth']

ticket_type

['Senior', 'Adult', 'Youth']

## Task 3: Save the number of adult tickets to a variable and check the data type

Now that you've recorded the types of tickets being sold, it's time to record the number of adult tickets sold so far.

1. Create a variable called `adult_tickets_sold` that represents the current number of "adult" tickets sold and assign it a value of `59.0`.

2. Check the data type of `adult_tickets_sold`.

In [3]:

adult_tickets_sold = 59.0


type(adult_tickets_sold)

float

## Task 4: Convert data types and print the result

The data you work with as a data professional often needs to be converted to different data types. In this case, the number of tickets sold should be recorded as integers and not floats.

1. Convert the data saved in the `adult_tickets_sold` variable from a **float** to an **integer**. Reassign the result back to the `adult_tickets_sold` variable.

2. Check the data type of `adult_tickets_sold`.

In [4]:

adult_tickets_sold = int(adult_tickets_sold)


type(adult_tickets_sold)

int